{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Welcome to my HMCTS dev test project!</h1>

  {{ govukWarningText({
    text: "Ensure spring boot application is running to prevent being limited to navigation.",
    iconFallbackText: "Warning"
  }) }}

  <p class="govuk-heading-m">About this project</p>

  <p class="govuk-body">This project is a simple task management web application for case managers. 
    
   <p class="govuk-body">It can display, create, update, and delete tasks.</p>

  <p class="govuk-body">It is designed to demonstrate the use of modern web development technologies and best practices.</p>

  <p class="govuk-heading-m">How it's made</p>

  <p class="govuk-body">This project makes use of Node.js, Express.js, and TypeScript for the website backend and Nunjucks for the front-end templating. </p>

  <p class="govuk-body">
    The application uses a RESTful API built using Java Spring Framework to manage tasks, with error handling and responses to ensure a smooth user experience.</p>

  <p class="govuk-heading-s">Swagger UI can be accessed with: /api-docs</p>

  {{ govukButton({
    text: "Start",
    href: "/tasks",
    isStartButton: true
  }) }}

{% endblock %}
